[Unit]
Description=Internet speed monitoring
After=network-online.target

[Service]
ExecStart=/usr/local/bin/speedtestd

[Install]
WantedBy=multi-user.target
